@model SliderViewModel
@{
    ViewData["Title"] = "AddSlider";
}

<h1>AddSlider</h1>

<form method="post" asp-action="AddSlider" asp-controller="Managment" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="SliderContent"></label>
        <input type="text" class="form-control" asp-for="SliderContent" placeholder="Slider Content">
        <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
    </div>
   
    <div class="form-group">
        <label for="file">Example file input</label>
        <input type="file" class="form-control-file" id="file" name="file">
    </div>
    <input class="btn badge-info" type="submit" value="Submit" />
</form>